.header{
    width: 1200px;
    height: 96px;
    background: #000000;
   margin: auto;
}
a{

    text-decoration:none;
}
.header1{
    height: 96px;
    width: 272px;
    color: white;
    font-size: 48px;
    text-align: center;
    line-height: 96px;
    float: left;
}
.header2{
    width: 124px;
    padding-left: 10px;
    border-left: 1px solid white;
    float: left;
    height: 20px;
    color: white;
    font-size: 20px;
    margin-top: 38px;
}
.header-right{
    height: 20px;
    font-size: 20px;
    color: white;
    margin-right: 56px;
    float: right;
    width: 314px;
}
.header3{
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 16px;
    margin-right: 16px;
    border-left: 1px solid white;
    border-right: 1px solid white;
      margin-top: 38px;
}
.nav{
    width: 1200px;
    height: 122px;
    margin: 0 auto;
}
.nav-top{
    width: 1200px;
    height: 66px;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}
.nav-wz{
    width: 120px;
    font-size: 16px;
    color: #414141;
     height: 66px;
    text-align: center;
    line-height: 66px;
    list-style:none;
}
.nav-wz i{
    color: #f9e4f6;
}
.nav-wz a{
    color: #414141;
}
.nav-bottom{
    width: 364px;
    height: 66px;
    color: #9D9D9D;
    font-size: 12px;
    margin-left: 68px;
}
.main {
    width: 1200px;
    height: 960px;
    padding-left: 68px;
    box-sizing: border-box;
    margin: 0 auto;
}
.four-box{
width: 154px;
    height: 960px;
    float: left;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.four-img{
    width: 154px;
    height: 226px;
}
.four-img img{
    width: 100%;
    height: 100%;
}
.one{
  width: 406px;
    height: 960px;
    border: 1px solid #C9C9C9;
    box-sizing: border-box;
    margin-left: 24px;
    float: left;
}
.one img{
    width: 100%;
    height: 100%;
}
.maim-last{
width: 154px!important;
    height:auto !important;
    float: right;
    border-left: 1px dashed #CDCDCD ;
    display: block;
    flex-wrap: wrap;
    align-content: space-between;
    box-sizing: border-box;
}
.main-img{
    width: 116px;
    height: 216px;
}
.main-img img{
    width: 100%;
    height: 100%;
}
.maim-last p{
    font-size: ;
    color: #6A6A6A;
    text-align: center;
}
.maim-last span{
    font-size: 20px;
    color: #464646;
    margin-left: 20px;
}
.maim-last{
    width: 112px;
    height: 218px;
}
.maim-last img{
    width: 100%;
    height: 100%;
}
.jianbox{
    width: 112px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.jianbox i{
    color: #929292;
}
.big-main{
 width: 356px;
    height:960px;

    float: right;
}
.big-main span{
    color: #515151;
    font-size: 24px
    margin: 0 auto;
    margin-bottom: 24px;

}
.big-main p{
       color: #787878;
    font-size: 18px;
        margin: 0 auto;
    margin-bottom: 24px;
}
.jgk{
    width: 326px;
    height: 80px;
    background: #ECEDEF;
    margin-bottom: 24px;
}
.jgk1 p{
    display: inline-block;
    font-size: 12px;
    margin-right: 34px;
}
.jgk1 span{
    color: #FB1616;
    font-size: 18px;
}
.jgk1 em{
    color: #1D1D1D!important;
}

.jgk2 p{
 font-size: 12px;
    width: 58px!important;
    display: inline-block;
}
.cm{
    width: 306px;
    height: 152px;
}
.cm p{
    width: 40px;
    float: left;
    height:  auto;
    font-size: ;
    color: #7F7F7F;
   margin-bottom: 0;
}
.chima-box{
    float: right;
    width: 260px;
      height: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;

}
.chima{
    width: 80px !important;
    height: 24px;
    border: 1px dashed #6C6C6C;
    font-size: 14px;
    color: #868686;
    margin-right: 0;
}
.chima:nth-child(4){
    border: 1px solid #333;
}
.chima:nth-child(6){
    color: #DFDFDF;
    border: 1px solid #DFDFDF;
}
.color{
    width: 306px;
    height: 168px;
    margin-bottom: 46px;
}
.color p{
    width: 40px;
    float: left;
    height:  auto;
    font-size: ;
    color: #7F7F7F;
   margin-bottom: 0;
}
.Color-img{
     float: right;
    width: 260px;
      height: 146px;
    display: flex;
    justify-content: space-around;
}
.color-img{
    width: 82px;
  height: 146px;
}
.color-img:nth-child(1){
    border: 1px solid #333;
    box-sizing: border-box;
}
.color-img img{
    width: 100%;
    height: 100%;
}
.zhong{
    height: 112px;
       width: 214px;
}
.shu{
width: 172px;
    height: 90px;
    float: right;
}
.tit{
       width: 40px !important;
    display: block;
    float: left;
    height:  auto;
    font-size: ;
    color: #7F7F7F;
   margin-bottom: 0 !important;

}
.box-one{
    width: 79px;
    height: 88px;
    border: 1px solid #BFBFBF;
    float: left;
}
.onebox{
    width: 50px;
    height: 88px;
    border-right: 1px solid #BFBFBF;
    text-align: center;
    line-height: 88px;
    float: left;
}
.sfa{
    width: 28px;
    height: 88px;
    margin: 0;
    float: right;
}
.jia{
    font-size: ;
    color: black;
    line-height: 43px;
    border-bottom: 1px solid #BFBFBF;
    height: 43px;
    background: #EBE9EC;
    text-align: center;
}
.jian{
    font-size: ;
    color: black;
    line-height: 44px;
    height: 44px;
      background: #EBE9EC;
    text-align: center;
}
.ku{
    float: right;
    margin-top: 35px;
}
.ku span{
    color: #EC838B;
}
.purchase{
    width: 268px;
    height: 28px;
}
.purchase1{
    width: 124px;
    height: 28px;
    float: left;
    border: 1px solid #A5A5A5;
    color: #6B6B6B;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    line-height: 28px;
}
.purchase1 i{
    color: #F9E4F6;
}
.purchase2{
    width: 124px;
    height: 28px;
    float: right;
    color: white;
    background: #040404;
    font-size: 16px;
    text-decoration: none;
        text-align: center;
    line-height: 28px;
}
.xian{
    height: 1px;
    width: 1090px;
    background: #BCBCBC;
    margin-left: 219.6px;
      margin-top: 20px;
}
/*商品详情开始*/
.content{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.content-left{
    width: 1046px;
    height: auto;
    float: left;
}
.fan{
    width: 140px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 10px;
}
.fan p{
    margin: 0;
}
.gu{
    width: 1px;
    height: 8px;
    align-self: center;
    background: #E3E3E3;
}
.bzd{
    width: 288px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 20px;
}
.bzd p{
    margin: 0;
    color:  #E3E3E3;
    font-size: 12px;
}
.big-tie{
    width: 890px;
    height: 224px;
border: 1px solid #B6B5B5;
    padding-top: 26px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.big-tie1{
    width: 128px;
    height: 175px;
}
.big-tie2{
    width: 140px;
    height: 144px;

}
.big-tie3{
    width: 268px;
    height: 140px;

}
.big-tie{
    color: #797979;
    font-size: 12px;
}
.tu11{
    width: 730px;
    height: 74px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.tu11 img{
    width: 100%;
    height: 100%;
}
.tu12{
    width: 220px;
    height: 54px;
    margin: 0 auto;
}
.tu12 img{
    width: 100%;
    height: 100%;

}
.shimao{
    width: 594px;
    height: 74px;
    color: #A4A4A4;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 44px;
}
.minz{
    width: 592px;
    height: 330px;
    border: 2px solid #C7C6C6;
    margin: 0 auto;
    margin-bottom: 32px;
}
.minz p{
    color: #545454;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 22px;
}
.minz h1{
    color: #545454;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 12px;
}
.wbk{
    width: 284px;
    height: 196px;
    color: #545454;
    font-size: 12px;
    margin:  0 auto;
    margin-bottom: 32px;
}
.wbk-left{
     height: 196px;
    width: 110px;
    float: left;

}
.wbk-left p{
    margin-bottom: 12px;
}
.wbk-right{
    width: 142px;
    height: 199px;
    display: flex;
    justify-content: space-between;
     color: #545454;
    font-size: 12px;
    float: right;
}
.wbk-right1{
    width: 28px;
}
.wbk-right1 p{
    margin-bottom: 12px;
}
.more{
    width: 242px;
    height: 24px;
    margin: 0 auto;
}
.more img{
    width: 100%;
    height: 100%;
}
.B-img{
    width: 1046px;
    height: 475px;
display: flex;
    justify-content: space-around;
}
.b-img{
    width: 275px;
    height: 475px;
}
.b-img img{
    width: 100%;
    height: 100%;
}
.B-wz{
    width: 1046px;
    height: 88px;
    line-height: 88px;
    color: #333;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}
.B-img1{
    width: 1046px;
     height: 475px;
    display: flex;
    justify-content: space-around;
}
.b-img1{
    width: 435px;
    height: 475px;
}
.b-img1 img{
    width: 100%;
    height: 100%;
}
.B-img2{
    width: 950px;
    height: 834px;
    margin: 0 auto;
}
.B-img2 img{
    width: 100%;
    height: 100%;
}
/*商品详情结束*/
footer{
    width: 1200px;
    height: 430px;
    background: black;

    overflow: hidden;
    margin: 0 auto;
        margin-top: 46px;
}
.footers{
    width: 1200px;
    height: 430px;
    margin: 0 auto;
}
.footers-top{
    width: 1200px;
    height: 66px;
    display: flex;
    justify-content: center;
}
.footers-top li{
    width: 162px;
    height: 66px;
    text-align: center;
    line-height: 66px;
}
.footers-top li a{
    color: #656062;
    display: block;
}
.hy{
    color: #fbf8f8!important;
}
.footers-top li a:hover{
    color: #fbf8f8!important;
}
.footers-zt{
    width: 646px;
    height: 106px;
    margin:  35px auto 0;
    border: 2px solid #363234;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
}
.footers-dy{
    font-size: 14px!important;
    color: #413c3f;
    cursor: pointer;
}
.footers-s{
    width: 334px;
    height: 20px;
    background: black;
    position: absolute;
    right: 0;
    left: 0;
    margin: -40px auto 0;
    color: #fefefe;
    text-align: center;
    line-height: 20px;
    letter-spacing: 5px;
    font-size: 14px;
}
.footers-gywm{
    width: 1200px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    color: #747071;
    margin-top: 45px;
    font-size: 14px;
}
.footers-bq{
    width: 1200px;
    height: 20px;
    font-size: 14px;
    color: #747071;
    margin-top: 32px;
    text-align: center;
}
