*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "苹方 常规";
}
/*头部开始*/
header{
    width: 100%;
    height: 96px;
    background: black;
}
.headers{
    width: 1200px;
    height: 96px;
    margin: 0 auto;
}
.headers-left{
    width: 380px;
    height: 96px;
    float: left;
}
.headers .headers-left img{
    width: 210px;
    height: 96px;
}
.headers-leftz{
    width: 170px;
    height: 20px;
    display: block;
    float: right;
    border-left: 1px solid #fcfbf9;
    box-sizing: border-box;
    color: #fcfbf9;
    text-align: center;
    line-height: 20px;
    margin-top: 38px;
    overflow: hidden;
}
.headers-right{
    width: 400px;
    height: 96px;
    float: right;
    display: flex;
    justify-content: flex-start;
    padding-top: 38px;
    box-sizing: border-box;
}
.headers-zc{
    display: block;
    width: 152px;
    height: 20px;
    line-height: 20px;
    color: #fcfbf9;
}
.headers-dl{
    width: 74px;
    height: 20px;
    line-height: 20px;
    border-left: 1px solid #fcfbf9;
    box-sizing: border-box;
    color: #fcfbf9;
    text-align: center;
}
.headers-sjrz{
    width: 102px;
    height: 20px;
    line-height: 20px;
    border-left: 1px solid #fcfbf9;
    box-sizing: border-box;
    color: #fcfbf9;
    text-align: center;
}
/*头部结束*/
/*导航开始*/
nav{
    width: 100%;
    height: 66px;
    background: #ffffff;
}
.navs{
    width: 1200px;
    height: 66px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}
.navs-d{
    width: 120px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    cursor: pointer;
}
.navs-d a{
    color: #414141;
}
.navs-d i{
    color: #dc5dca;
}
/*导航结束*/
/*轮播开始*/
.banners{
    width: 100%;
    height: 859px;
    background: #fd1501;
}
.banner{
    width: 1518px;
    height: 859px;
    margin: 0 auto;
    background: url("../img/bj-1.png") no-repeat center center;
    position: relative;
}
.banner-z{
    width: 600px;
    height: 758px;
    background: #fbfcfd;
    position: absolute;
    left: 470px;
    top: 55px;
    margin: 0 auto;
}
.banner-top{
    width: 600px;
    height: 93px;
    background: #cccdce;
    text-align: center;
    font-weight: 500;
}
.banner-top h2{
    font-size: 34px;
    font-weight: 500;
    line-height: 93px;
}
.banner-zhong{
    width: 600px;
    height: 497px;
    margin-top: 33px;
    box-sizing: border-box;
}
.banner-sj{
    width: 600px;
    height: 102px;
    padding-top: 14px;
    box-sizing: border-box;
    position: relative;
}
.banner-sj i{
    display: block;
    width: 67px;
    height: 67px;
    font-size: 44px;
    line-height: 67px;
    text-align: center;
    float: left;
    margin:0 12px 0 46px;
}
.banner-sj input{
    width: 424px;
    height: 71px;
    padding-left: 23px;
    font-size: 18px;
    box-sizing: border-box;
    border: 2px solid #7e7f7f;
    color: #1a1a1a;
}
.hqyzm{
    width: 203px;
    height: 67px;
    background: #cecfcf;
    cursor: pointer;
    text-align: center;
    line-height: 71px;
    font-size: 18px;
    color: #fdfdfd;
    position: absolute;
    right: 53px;
    bottom: 19px;
}
.dl{
    width: 198px;
    height: 71px;
    background: #1a1a1a;
}
.dl a{
    color: #fdfdfd;
    font-size: 18px;
    text-align: center;
    line-height: 71px;
    display: block;
}
.banner-sj1{
    display: flex;
    justify-content: space-around;
    margin-top: 46px;
}
.banner-bottom{
    width: 600px;
    height: 137px;
    background: #cccdce;
    padding: 43px 62px;
    box-sizing: border-box;
    text-align: center;
}
.banner-right{
    width: 357px;
    height: 409px;
    background: #ffffff;
    position: absolute;
    right: 74px;
    bottom: 44px;
    padding: 50px 14px 0 22px;
    box-sizing: border-box;
}
.banner-right span{
    font-size: 18px;
}
.ydz{
    display: block;
    margin-top: 48px;
    box-sizing: border-box;
}
/*轮播介绍*/
/*下面开始*/
footer{
    width: 100%;
    height: 430px;
    background: black;
    margin-top: 46px;
    overflow: hidden;
}
.footers{
    width: 1200px;
    height: 430px;
    margin: 0 auto;
}
.footers-top{
    width: 1200px;
    height: 66px;
    display: flex;
    justify-content: center;
}
.footers-top li{
    width: 162px;
    height: 66px;
    text-align: center;
    line-height: 66px;
}
.footers-top li a{
    color: #656062;
    display: block;
}
.hy{
    color: #fbf8f8!important;
}
.footers-top li a:hover{
    color: #fbf8f8!important;
}
.footers-zt{
    width: 646px;
    height: 106px;
    margin:  35px auto 0;
    border: 2px solid #363234;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
}
.footers-dy{
    font-size: 14px!important;
    color: #413c3f;
    cursor: pointer;
}
.footers-s{
    width: 334px;
    height: 20px;
    background: black;
    position: absolute;
    right: 0;
    left: 0;
    margin: -40px auto 0;
    color: #fefefe;
    text-align: center;
    line-height: 20px;
    letter-spacing: 5px;
    font-size: 14px;
}
.footers-gywm{
    width: 1200px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    color: #747071;
    margin-top: 45px;
    font-size: 14px;
}
.footers-bq{
    width: 1200px;
    height: 20px;
    font-size: 14px;
    color: #747071;
    margin-top: 32px;
    text-align: center;
}
/*下面结束*/