*{
    margin:0;
    padding:0;
    list-style:none;
}
a{text-decoration:none;}
/*头部开始*/
header{
    width: 100%;
    height: 96px;
    background: black;
}
.headers{
    width: 1200px;
    height: 96px;
    margin: 0 auto;
}
.headers-left{
    width: 380px;
    height: 96px;
    float: left;
}
.headers .headers-left img{
    width: 210px;
    height: 96px;
}
.headers-leftz{
    width: 170px;
    height: 20px;
    display: block;
    float: right;
    border-left: 1px solid #fcfbf9;
    box-sizing: border-box;
    color: #fcfbf9;
    text-align: center;
    line-height: 20px;
    margin-top: 38px;
    overflow: hidden;
}
.headers-right{
    width: 400px;
    height: 96px;
    float: right;
    display: flex;
    justify-content: flex-start;
    padding-top: 38px;
    box-sizing: border-box;
}
.headers-zc{
    display: block;
    width: 152px;
    height: 20px;
    line-height: 20px;
    color: #fcfbf9;
}
.headers-dl{
    width: 74px;
    height: 20px;
    line-height: 20px;
    border-left: 1px solid #fcfbf9;
    box-sizing: border-box;
    color: #fcfbf9;
    text-align: center;
}
.headers-sjrz{
    width: 102px;
    height: 20px;
    line-height: 20px;
    border-left: 1px solid #fcfbf9;
    box-sizing: border-box;
    color: #fcfbf9;
    text-align: center;
}
/*头部结束*/
/*导航开始*/
nav{
    width: 100%;
    height: 66px;
    background: #ffffff;
}
.navs{
    width: 1200px;
    height: 66px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.navs-d{
    width: 120px;
    height: 66px;
    text-align: center;
    line-height: 66px;
}
.navs-d a{
    color: #414141;
}
.navs-d i{
    font-size:18px;
    color:#E78FDA;
}
.nav-di{
    width:1130px;
    height:20px;
    font-size:14px;
    margin:auto;
    padding-left:70px;
    background:white;
    color:#6B6B6B;
}
.nav-di a{
    color:#6B6B6B;
}
/*导航结束*/
.black-tiao{
    width:100%;
    height:10px;
    font-size:14px;
    margin-top:20px;
    background:#000;
}
.nav-dindan{
    width:1100px;
    height:80px;
    background:#fff;
    margin:auto;
    margin-top:20px;
}
.dindan-daohang{
    line-height:80px;
    display:flex;
    justify-content:space-between;
}
.dindan-daohang-wenzi{
    float:left;
    color:#666;
    font-size:12px;
}
.dindan-daohang-wenzi a{
    font-size:16px;
    color:#666;
}
.dindan-daohang-wenzi a:hover{
    color:#E78FDA;
}
.dindan-daohang-wenzi i:hover{
    color:#E78FDA;
}
main{
    width:1200px;
    height:1100px;
    margin:auto;

}
.left-section{
    width:800px;
    height:1200px;
    float:left;
}
.danxuan-geshi{
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.danxuan-geshi[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #E78FDA;
    text-indent: .15em;
    line-height: 1;
}
.danxuan-geshi[type="radio"]:checked + label::before {
    background-color: #E78FDA;
    background-clip: content-box;
    padding: .2em;
}
.ps-address{
    width:750px;
    height:50px;
    line-height:50px;
}
.address-kuang{
    width:750px;
    height:250px;
    border:1px solid #E9E8E9;
}
.address-moren{
    width:auto;
    height:90px;
    border:1px solid #E9E8E9;
}
.moren-name{
    width:165px;
    height:88px;
    float:left;
    line-height:88px;
    padding-left:30px;
}
.moren-dizhi{
    width:461px;
    height:78px;
    float:left;
    padding:5px 0 5px 5px;
}
.shanchu-edit{
    width:120px;
    height:88px;
    float:left;
    text-align:center;
    line-height:40px;
}
.icon-shanchu{cursor:pointer;}
.edit{
    width:50px;
    height:25px;
    font-size:13px;
    text-align:center;
    line-height:25px;
    margin:auto;
    color:#fff;
    background:#E78FDA;
    border-radius:15px;
    cursor:pointer;
}
.address-xinzeng{
    width:auto;
    height:90px;
    border:1px solid #E9E8E9;
}
.address-shouqi{
    width:auto;
    height:70px;
    line-height:70px;
    padding-left:60px;
}
.ps-add{
    font-size:16px;
    color:#666;
}
.new-add{
    height:33px;
    font-size:14px;
    color:#E78FDA;
    border-bottom:1px solid #E78FDA;
    float:right;
}
.new-add:hover{
    color:#E78FDA;
    border-color:#fff;
}
.new-bianse{
    color:#E78FDA;
    border-bottom:1px solid #E78FDA;
    cursor:pointer;
}
.new-bianse2{
    color:#000;
    border-bottom:none;
}
.zuoduiqi{
    float:left;

}
.kongbai{
    margin-left:10px;
}
.shouhuo{
    width:400px;
    height:50px;
}
.xuanze{
    width:400px;
    height:100px;
    margin-top:10px;
}
.xiangxi{
    width:300px;
    height:20px;
    float:left;
    margin-top:9px;
}
.check-box[type="checkbox"]{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid #A3A2A3;
    outline:none;
}
.check-box[type="checkbox"]:checked{
    background-color:#a3a2a3;
    background-clip:content-box;
    padding:.2em;
    outline:none;
}

.shezhi-address{
    width:300px;
    height:60px;
    line-height:60px;
    border:1px solid #fff;
}
.return-add{
    width:400px;
    height:50px;
    margin:15px 0 0 0;
}
.fanhui{
    width:150px;
    height:40px;
    float:left;
    font-size:16px;
    line-height:37px;
    padding-left:8px;
    border:3px solid #000;
}
.shiyong{
    width:100px;
    height:40px;
    float:left;
    font-size:16px;
    line-height:40px;
    text-align:center;
    margin-left:20px;
    border:1px solid #000;
    color:#fff;
    background:#000;
}
.peisong-wenzi{
    width:100px;
    height:26px;
    color:#000;
    font-size:16px;
    margin-top:50px;
}
.peisong-fangshi{
    width:778px;
    height:40px;
    font-size:15px;
    line-height:38px;
    padding-left:20px;
    border:1px solid #000;
    background:#F9F9F9;
}
.putongda{
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.putongda[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #E78FDA;
    text-indent: .15em;
    line-height: 1;
}
.putongda[type="radio"]:checked + label::before {
    background-color: #E78FDA;
    background-clip: content-box;
    padding: .2em;
}
.mian-yunfei{
    float:right;
    margin-right:20px;
}
.zhifu-fangshi{
    width:778px;
    height:40px;
    font-size:15px;
    line-height:38px;
    padding-left:20px;
    border:1px solid #000;
    background:#F9F9F9;
}
.zhifu-geshi{
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.zhifu-geshi[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #E78FDA;
    text-indent: .15em;
    line-height: 1;
}
.zhifu-geshi[type="radio"]:checked + label::before {
    background-color: #E78FDA;
    background-clip: content-box;
    padding: .2em;
}
.fapiao{
    margin-top:30px;
}
.queren-dindan{
    width:100px;
    height:40px;
    line-height:40px;
    text-align:center;
    background:#000;
    color:#fff;
    margin-top:30px ;
}
.right-section{
    width:350px;
    height:1100px;
    float:right;
    background:#EBEBEB;
}
.zhaiyao-wenzi{
    width:200px;
    height:30px;
    margin-left:10px;
    font-size:16px;
    line-height:30px;
}
.zhaiyao-wenzi span{
    font-size:12px;
}
.dindan-zhaiyao{
    width:300px;
    height:500px;
    margin-left:25px;
    background:#fff;
}
.help{
    width:150px;
    height:200px;
    margin:30px 0 0 25px;
}
.help span{
    font-size:16px;

}
.help li{
    font-size:13px;
    line-height:28px;
}
.fukuai-fangshi{
    width:180px;
    height:20px;
    margin-left:25px;
    font-size:16px;
}
.fukuan-tu{
    width:350px;
    height:200px;
    margin:10px 0 0 25px;
}
.fukuan-tu img{
    width:100px;
    height:110px;
    float:left;
}
footer{
    width: 100%;
    height: 430px;
    background: black;
    margin-top: 46px;
    overflow: hidden;
}
.footers{
    width: 1200px;
    height: 430px;
    margin: 0 auto;
}
.footers-top{
    width: 1200px;
    height: 66px;
    display: flex;
    justify-content: center;
}
.footers-top li{
    width: 162px;
    height: 66px;
    text-align: center;
    line-height: 66px;
}
.footers-top li a{
    color: #656062;
    display: block;
}
.hy{
    color: #fbf8f8!important;
}
.footers-top li a:hover{
    color: #fbf8f8!important;
}
.footers-zt{
    width: 646px;
    height: 106px;
    margin:  35px auto 0;
    border: 2px solid #363234;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
}
.footers-dy{
    font-size: 14px!important;
    color: #413c3f;
    cursor: pointer;
}
.footers-s{
    width: 334px;
    height: 20px;
    background: black;
    position: absolute;
    right: 0;
    left: 0;
    margin: -40px auto 0;
    color: #fefefe;
    text-align: center;
    line-height: 20px;
    letter-spacing: 5px;
    font-size: 14px;
}
.footers-gywm{
    width: 1200px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    color: #747071;
    margin-top: 45px;
    font-size: 14px;
}
.footers-bq{
    width: 1200px;
    height: 20px;
    font-size: 14px;
    color: #747071;
    margin-top: 32px;
    text-align: center;
}
.icon-umidd17{color:#02AAFD;}
.icon-weixinzhifu{color:#08BB06;}


