*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*头部*/
header{
    width: 100%;
    height: 96px;
    background: #000000;
}
.headbox{
    width: 1200px;
    height: 96px;
    /*background: pink;*/
    margin:  0 auto;
}
.logobox{
    width: 150px;
    height: 96px;
    float: left;
}
.logobox img{
    width: 100%;
    height: 100%;
}
.logowz-box{
    width: 135px;
    height: 20px;
    margin-top: 35px;
    margin-left: 15px;
    /*background: aqua;*/
    float: left;
    border-left: 1px solid #ffffff;
    box-sizing: border-box;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.rightbox{
    width: 400px;
    height: 96px;
    /*background: orange;*/
    float: right;
}
.sjrz{
    width: 120px;
    height: 20px;
    margin-top: 35px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    float: right;
}
.dlzc{
    width: 185px;
    height: 20px;
    margin-top: 35px;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    line-height: 20px;
    float: right;
    position: relative;
}
.dl{
    display: block;
    width: 36px;
    height: 100%;
    float: left;
    /*background-color: red;*/
    position: absolute;
    top: 0;
}
.zc{
    display: block;
    width: 36px;
    height: 100%;
    float: left;
    /*background-color: ;*/
    position: absolute;
    top: 0;
    left: 42px;
}
.dzh{
    width: 90px;
    height: 20px;
    margin-top: 35px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    float: right;
}
/*头部结束*/
/*标题*/
nav{
    width: 100%;
    height: 70px;
    background: #ffffff;
}
.navs{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.navs-d{
    width: 120px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.navs-d a{
    color: #414141;
}
.navs-d i{
    color: #e176d2;
}
.nav2{
    width: 1200px;
    height: 35px;
    margin: 0 auto;
    /*background: orange;*/
    font-size: 14px;
    color: #828282;
    padding-left: 70px;
    box-sizing: border-box;
}
/*标题栏结束*/
.hk{
    width: 100%;
    height: 25px;
    background: #000000;
}
/*身体部分*/
section{
    width: 100%;
    height: auto;
}
.home1{
    width: 1200px;
    height: 140px;
    margin: 0 auto;
    /*background-color: orange;*/
    display: flex;
    justify-content: flex-start;
}
.home1box{
    width: 275px;
    height: 140px;
    text-align: center;
    line-height: 140px;
    font-size: 18px;
    /*background-color: rebeccapurple;*/
    color: #8d8d8d;
    position: relative;
}
.gwd{
    display: block;
    width: 120px;
    height: 30px;
    /*background-color: red;*/
    float: left;
    position: absolute;
    top: 55px;
    left: 90px;
}
.new{
    color: #e176d2;
}
.spmc{
    width: 100%;
    height: 75px;
    background-color: #f2f2f2;
}
.spmcbox{
    width: 1200px;
    height: 75px;
    /*background-color: orange;*/
    margin: 0 auto;
    font-size: 18px;
}
.kuai1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 15px;
    background-color: #c2c2c2;
    float: left;
}
.qb{
    display: block;
    width: 55px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 27px;
    margin-left: 10px;
    float: left;
}
.sp{
    display: block;
    width: 90px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 27px;
    margin-left: 55px;
    float: left;
}
.sl{
    display: block;
    width: 150px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 27px;
    margin-left: 380px;
    float: left;
}
.dj{
    display: block;
    width: 124px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 27px;
    margin-left: 56px;
    float: left;
}
.xj{
    display: block;
    width: 196px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 27px;
    float: left;
}
.cz{
    display: block;
    width: 50px;
    height: 20px;
    text-align: right;
    line-height: 20px;
    margin-top: 27px;
    float: left;
}
.yifu{
    width: 1200px;
    height: 195px;
    /*background-color: rebeccapurple;*/
    margin: 0 auto;
}
.yuan{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 110px;
    margin-left: 15px;
    background-color: #c2c2c2;
    float: left;
    cursor: pointer;
}
.yifubox{
    width: 150px;
    height: 110px;
    background-color: #8d8d8d;
    margin-top: 50px;
    margin-left: 45px;
    float: left;
    cursor: pointer;
}
.yifubox img{
    width: 100%;
    height: 100%;
}
.jshz{
    width: 285px;
    height: 110px;
    /*background-color: #8d8d8d;*/
    margin-top: 50px;
    margin-left: 35px;
    float: left;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.js1{
    display: block;
    width: 100%;
    line-height: 20px;
    font-weight: 500;
    font-size: 20px;
}
.js2{
    display: block;
    width: 100%;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #8d8d8d;
}
.js3{
    display: block;
    width: 100%;
    line-height: 20px;
    font-weight: 200;
    font-size: 12px;
    color: #8d8d8d;
}
.slxk{
    width: 150px;
    height: 35px;
    /*background-color: #e176d2;*/
    margin-top: 95px;
    margin-left: 70px;
    line-height: 35px;
    text-align: center;
    float: left;
    position: relative;
}
.slxkbox{
    width: 80px;
    height: 35px;
    margin: 0 auto;
    /*background-color: #e5e5e5;*/
    /*border-radius: 25px;*/
    /*color: #4e4e4e;*/
}
.slxkbox .srsl{
    width: 80px;
    height: 35px;
    background-color: #e5e5e5;
    border-radius: 25px;
    color: #4e4e4e;
    text-align: center;
    outline:medium;
    border:none;
    color: #4e4e4e;
}
.leftk{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #d6d6d6;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 0;
}
.leftk{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #d6d6d6;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 0;
    cursor: pointer;
}
.rightk{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #d6d6d6;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 0;
    cursor: pointer;
}
.pirce{
    width: 125px;
    height: 35px;
    /*background-color: #e176d2;*/
    margin-top: 95px;
    margin-left: 45px;
    line-height: 35px;
    text-align: right;
    float: left;
    padding-right: 25px;
    box-sizing: border-box;
    color: #4e4e4e;
}
.xjwz{
    width: 210px;
    height: 35px;
    /*background-color: #e176d2;*/
    margin-top: 95px;
    line-height: 35px;
    text-align: center;
    float: left;
    /*padding-right: 25px;*/
    /*box-sizing: border-box;*/
    color: #4e4e4e;
}
.shanchu{
    width: 50px;
    height: 35px;
    margin-top: 95px;
    line-height: 35px;
    text-align: center;
    float: left;
    color: #acacac;
    cursor: pointer;
}
.jiesuan{
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    /*background-color: #e176d2;*/
}
.yuandian{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 15px;
    background-color: #c2c2c2;
    float: left;
    cursor: pointer;
}
.qx{
    width: 40px;
    height: 30px;
    float: left;
    /*background-color: orange;*/
    margin-left: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #737373;
    cursor: pointer;
}
.scqbsp{
    width: 130px;
    height: 30px;
    float: left;
    /*background-color: orange;*/
    margin-left: 60px;
    font-size: 18px;
    line-height: 30px;
    color: #737373;
    cursor: pointer;
}
.daheikuai{
    width: 835px;
    height: 110px;
    background-color: #000000;
    font-size: 18px;
    color: #737373;
    float: right;
}
.wz1{
    display: block;
    margin-left: 55px;
    margin-top: 50px;
    float: left;
    cursor: pointer;
}
.wz2{
    display: block;
    margin-left: 5px;
    margin-top: 35px;
    margin-right: 5px;
    float: left;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
}
.wz3{
    display: block;
    margin-top: 50px;
    float: left;
    cursor: pointer;
}
.sg{
    display: block;
    width: 2px;
    height: 15px;
    margin-left: 45px;
    margin-top: 55px;
    float: left;
    background-color: #ffffff;
}
.anniu{
    width: 165px;
    height: 55px;
    line-height: 55px;
    border-radius: 25px;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    color: #e176d2;
    position: relative;
}
.ank{
    width: 165px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
}
.bigbox{
    width: 1200px;
    height: 690px;
    /*background-color: orange;*/
    margin: 130px auto 0;
}
.bigbox-top{
    width: 1200px;
    height: 65px;
    /*background-color: red;*/
}
.top1{
    width: 130px;
    height: 45px;
    /*background-color: #d6d6d6;*/
    float: left;
}
.top1wz{
    font-size: 18px;
    color: #000;
    display: block;
    cursor: pointer;
}
.top1wz2{
    font-size: 18px;
    color: #b8b8b8;
    cursor: pointer;
}
.rightyuan{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #e78fda;
    float: right;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    cursor: pointer;
}
.leftyuan{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #333333;
    float: right;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    line-height: 45px;
    color: #ffffff;
    cursor: pointer;
}
.bigbox-bot{
    width: 100%;
    height: 625px;
    /*background-color: #e176d2;*/
    display: flex;
    justify-content: space-around;
}
.bot1{
    width: 345px;
    height: 625px;
    /*background-color: orange;*/
}
.bot1 img{
    width: 100%;
    height: 100%;
}
.bottu{
    width: 345px;
    height: 345px;
    background-color: red;
}
.botwz1{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-weight: 600;
    color: #585858;
    line-height: 40px;
    font-size: 18px;
    margin-left: 5px;
}
.botwz2{
    width: 100%;
    height: 40px;
    color: #373737;
    line-height: 40px;
    font-size: 18px;
    margin-left: 5px;
}
.tuoyuan{
    width: 55px;
    height: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #e176d2;
    float: left;
}
.henxian{
    width: 280px;
    height: 2px;
    margin-top: 7px;
    background-color: #e176d2;
    float: left;
}
.footbox{
    width: 100%;
    height: 40px;
    /*background-color: red;*/
    margin-top: 40px;
}
.footleft{
    display: block;
    width: 120px;
    height: 100%;
    float: left;
    color: red;
    line-height: 40px;
    text-align: center;
}
.footright{
    display: block;
    width: 120px;
    height: 100%;
    float: right;
    color: #ffffff;
    background-color: #e176d2;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
footer{
    width: 100%;
    height: 430px;
    background: black;
    margin-top: 46px;
    overflow: hidden;
}
.footers{
    width: 1200px;
    height: 430px;
    margin: 0 auto;
}
.footers-top{
    width: 1200px;
    height: 66px;
    display: flex;
    justify-content: center;
}
.footers-top li{
    width: 162px;
    height: 66px;
    text-align: center;
    line-height: 66px;
}
.footers-top li a{
    color: #656062;
    display: block;
}
.hy{
    color: #fbf8f8!important;
}
.footers-top li a:hover{
    color: #fbf8f8!important;
}
.footers-zt{
    width: 646px;
    height: 106px;
    margin:  35px auto 0;
    border: 2px solid #363234;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
}
.footers-dy{
    font-size: 14px!important;
    color: #413c3f;
    cursor: pointer;
}
.footers-s{
    width: 334px;
    height: 20px;
    background: black;
    position: absolute;
    right: 0;
    left: 0;
    margin: -40px auto 0;
    color: #fefefe;
    text-align: center;
    line-height: 20px;
    letter-spacing: 5px;
    font-size: 14px;
}
.footers-gywm{
    width: 1200px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    color: #747071;
    margin-top: 45px;
    font-size: 14px;
}
.footers-bq{
    width: 1200px;
    height: 20px;
    font-size: 14px;
    color: #747071;
    margin-top: 32px;
    text-align: center;
}
