*{
    margin: 0;
    padding: 0;
    list-style: none;

}
a {
    text-decoration: none;
}
/*头部开始*/
header{
    width: 100%;
    height: 96px;
    background: black;

}
.headers{
    width: 1200px;
    height: 96px;
    margin: 0 auto;
}
.headers-left{
    width: 380px;
    height: 96px;
    float: left;
}
.headers .headers-left img{
    width: 210px;
    height: 96px;
}
.headers-leftz{
    width: 170px;
    height: 20px;
    display: block;
    float: right;
    border-left: 1px solid #fcfbf9;
    box-sizing: border-box;
    color: #fcfbf9;
    text-align: center;
    line-height: 20px;
    margin-top: 38px;
    overflow: hidden;
}
.headers-right{
    width: 400px;
    height: 96px;
    float: right;
    display: flex;
    justify-content: flex-start;
    padding-top: 38px;
    box-sizing: border-box;
}
.headers-zc{
    display: block;
    width: 152px;
    height: 20px;
    line-height: 20px;
    color: #fcfbf9;
}
.headers-dl{
    width: 74px;
    height: 20px;
    line-height: 20px;
    border-left: 1px solid #fcfbf9;
    box-sizing: border-box;
    color: #fcfbf9;
    text-align: center;
}
.headers-sjrz{
    width: 102px;
    height: 20px;
    line-height: 20px;
    border-left: 1px solid #fcfbf9;
    box-sizing: border-box;
    color: #fcfbf9;
    text-align: right;
}
/*头部结束*/
/*导航开始*/
nav{
    width: 100%;
    height: 66px;
    background: #ffffff;
}
.navs{
    width: 1200px;
    height: 66px;
    margin: 0 auto;
    display: flex;
     list-style: none;
    justify-content: space-around;

}
.navs-d{
    width: 120px;
    height: 66px;
    text-align: center;
    line-height: 66px;
}
.navs-d a{
    color: #414141;
}
.navs-d i{
    color: #000;
}
/*导航结束*/
.img1{
     position: absolute;z-index: 5;top:745px;left:352px;
}
.img1 a img{
    height:65px;width: 160px;
}
.img{
    width:1519.2px;
    height:697px;
    margin:0 auto;
}
.img img{
     width:1519.2px;
    height:697px;
}
.zuobian
{
    width:29px;
    height: 29px;
    position: absolute;
    left:1162px;
    top:830px;

}
.zuobian img{
    width:29px;
    height: 29px;
    /*position: absolute;*/
}
.youbian{
    width:29px;
    height: 29px;
    position: absolute;
    left:1220px;
    top:830px;

}
.youbian img{
     width:29px;
    height: 29px;
    /*position: absolute;*/
}
.img2{
    width: 1200px;
    height: 310px;
    margin: 0 auto;
}
.img2 img{
     width: 1200px;
    height: 310px;
}
.bg2{
    width:745px;
    height:301px;
    margin:0 auto;
}
.bg2 img{
     width:745px;
    height:301px;
    margin:0 auto;
}
.bg3{
    width:746px;
    height:676px;
    margin:0 auto;
}
.bg3 img{
      width:746px;
    height:676px;
    margin:0 auto;
}
.bg4{
    width:747px;
    height:624px;
    margin:0 auto;
}
.bg4 img{
      width:747px;
    height:624px;
    margin:0 auto;
}
.bg5{

    width:746px;
    height:125px;
    margin:0 auto;
}
.bg5 img{
      width:746px;
    height:125px;
    margin:0 auto;
}
.bg6{
    width:750px;
    height:379px;
    margin:0 auto;
}
.bg6 img{
      width:750px;
    height:379px;
    margin:0 auto;
}
.bg7{
    width:747px;
    height:514px;
    margin:0 auto;
}
.bg7 img{
      width:747px;
    height:514px;
    margin:0 auto;
}
